---
import Layout from "src/layouts/it/Layout.astro";
import Card from "src/components/it/Card.astro";

import nerone from "src/assets/nerone.jpg";
import studioMessini from "src/assets/studio.png";
import rcipsum from "src/assets/rcipsum1.png";
import sessionBee from "src/assets/sessionbee.png";
import wasa from "src/assets/wasa.png";
import tossDice from "src/assets/tossdice2.png";

const metaKeywords = "programmatore latina, web developer a latina, creazione sito a latina, creazione app a latina, sviluppo web a latina, programmatore a latina";

const breadcrumb = {
  "@context": "https://schema.org",
  "@type": "BreadcrumbList",
  "itemListElement": [
    { "@type": "ListItem", "position": 1, "name": "Home", "item": "https://francescojames.dev/it" },
    { "@type": "ListItem", "position": 2, "name": "Lavori", "item": "https://francescojames.dev/it/works" }
  ]
};
---

<Layout
  justifyType="start"
  showFab={true}
  title="Portfolio | Programmatore e Web Developer a Latina - Francesco James"
  description="Portfolio di Francesco James Fanti, programmatore e sviluppatore software freelance a Latina. Scopri i miei lavori in creazione siti web, app e soluzioni cloud-native. Disponibile per progetti a Roma e in tutta Italia."
  canonical="https://francescojames.dev/it/works"
>
  <Fragment slot="head">
    <script type="application/ld+json" set:html={JSON.stringify(breadcrumb)} />
	<meta name="keywords" content={metaKeywords} />
  </Fragment>

  <div class="flex flex-col items-center">
    <p class="font-medium text-md leading-relaxed pb-6">Esplora i miei progetti di <span class="font-bold">creazione siti web a Latina</span> e <span class="font-bold">sviluppo web a Latina</span>, con soluzioni innovative e personalizzate.</p>
    <Card
      lazyLoading={false}
      title="studiomessini.com"
      description="sito professionale, ottimizzato e SEO friendly"
      path={studioMessini}
      redirect1="https://studiomessini.com/"
      redirect2="https://github.com/studiomessini/studio_messini_open"
    />

    <Card
      title="sessionBee"
      description="Proof-of-concept di un gestore di sessioni per IoT come microservizio"
      path={sessionBee}
      redirect2="https://github.com/neoSnakex34/sessionbee"
    />
    <Card
      title="tossdice"
      description="webapp full frontend, lancia dadi con probabilità equa"
      path={tossDice}
      redirect1="https://tossdice.pages.dev/"
      redirect2="https://github.com/neosnakex34/dice_preact"
    />

    <Card
      title="rcIpsum"
      description="Generatore di testo casuale in stile Lorem Ipsum basato su racconti di Raymond Carver"
      path={rcipsum}
      redirect2="https://github.com/neoSnakex34/rcipsum"
    />

    <Card
      title="wasaPHOTO"
      description="WebApp demo, simulazione di un social network di condivisione foto"
      path={wasa}
      redirect2="https://github.com/neoSnakex34/wasaphoto"
    />
  </div>
</Layout>
